body{
    margin: 0;
    background: url(site_images/bckgrnd.jpg);
    
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.logo-title
{
    color: #348bcb;
}

.logo 
{
    background-color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px #050505c7;
}

.card-photo 
{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 60px;
}

.navigation
{
    margin: 10px auto 5px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px #050505c7;
}

.nav-link
{
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.intro
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.intro-text
{
    margin: 50px auto;
    font-size: 36px;
}

.intro-photo
{
    display: block;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    vertical-align: middle;
}

.info-part
{
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.button
{
    margin: 10px auto;
    text-decoration: none;
    color: #000;
    
    display: inline-block;
    
    border: 3px solid #22527b;
    border-radius: 20px;
    
    padding: 10px 15px;
    max-width: 400px;
}


.card
{
    width: 440px;
    margin: 20px auto;
    
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.title
{
    font-size: 30px;
    color: #8c6798;
    text-align: center;
}

