/* Your Code Here */
body{
    margin: 0;
    background-color: #34cb5847;
    
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.logo-title
{
    color: #348bcb;
}

.logo 
{
    background-color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo 
{
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 60px;
}

.navigation
{
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.nav-link
{
    margin: 0 10px;
    padding: 10px;
}

.intro
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #348bcb4d;
}

.intro-text
{
    margin: 100px auto;
    font-size: 36px;
}

.intro-photo
{
    display: block;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    vertical-align: middle;
}


















